<!-- Menu Navigation -->
{{!< default}}

<div class="primary-overlay">
    <div class="navbar-fixed">
        <nav class="transparent z-depth-2">
            <div class="nav-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <a href="#!" class="brand-logo">JDAVID
                            </a>
                            <a href="#" data-activates="mobile-nav" class="button-collapse">
                                <i class="material-icons">menu</i>
                            </a>
                            <ul class="right hide-on-med-and-down" role="menu">
                                {{#foreach navigation}}
                                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="menuitem">
                                    <a href="{{url absolute=" true "}}" class="waves-effect navlinks">{{label}}</a>
                                </li>
                                {{/foreach}}
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="side-nav" id="mobile-nav">
                    {{#foreach navigation}}
                    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="menuitem">
                        <a href="{{url absolute=" true "}}" class="waves-effect blue-grey-text darken-4">{{label}}</a>
                    </li>
                    {{/foreach}}
                </ul>
            </div>
        </nav>
    </div>
</div>