<div class="card hoverable z-depth-3 white" style="min-height: 500px;">
  <div class="card-image waves-effect waves-block waves-light">
      <img class="responsive-img activator" src="{{feature_image}}" alt="{{title}}">
      <span class="card-title">{{title}}</span>
    </div>
    <div class="card-content">
      <p>{{excerpt character="120"}}.... <a class="activator modal-trigger waves-effect waves-light green-text text-darken-1">Read More</a></p>
      
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <p>
            {{#if meta_description}}
                {{meta_description}}
            {{else}}
                <img class="responsive-img materialboxed" src="{{feature_image}}" alt="{{title}}">
                <h5 class="center">{{title}}</h5>
                <p class="">{{content}}</p>
            {{/if}}
      </p>
    </div>
    <!--
    <div id="modal1" class="modal">
      <div class="modal-content">
        <p>
            {{#if meta_description}}
                {{meta_description}}
            {{else}}
                <img class="activator responsive-img" src="{{feature_image}}" alt="{{title}}">
                <h1>{{title}}</h1>
                <p>{{content}}</p>
            {{/if}}
        </p>
      </div>
  </div>
-->
</div>




            